@model KF.Web.Models.ReceivedInvoiceListViewModel
@{
    ViewBag.Title = "ReceivedPerforma";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}


@{
    long SelectedActiveUser = 0;
    int userid = 0;
    if (Request.Cookies["SelectedActiveUser"] != null)
    {
        if (Request.Cookies["SelectedActiveUser"].Value != null)
        {
            long.TryParse(Convert.ToString(Request.Cookies["SelectedActiveUser"].Value), out SelectedActiveUser);
        }
    }
}

@section scripts
{
<link href="~/ThemeAssets/css/form-layout.css" rel="stylesheet" />
<link href="~/ThemeAssets/jquertable/Content/grid-0.4.3.min.css" rel="stylesheet" />
<script src="~/ThemeAssets/jquertable/Scripts/grid-0.4.3.js"></script>
<script src="~/ThemeAssets/jquertable/Scripts/newgrid.js"></script>
<script src="~/ThemeAssets/Gridjs/ActiverReceivedPerformaListGrid.js"></script>
<script src="~/ThemeAssets/JqueryUI/jquery-ui.js"></script>

    <script>
        function goBack() {
            window.history.back();
        }

        $(document).ready(function () {
            if (window.location.href.indexOf("ReceivedPerforma/0") > -1) {
                $("#ulsubitems").css("display", "block");
                $("#litopinvoice").addClass("nav-active");
                $("#receivedproforma").addClass("active");
                $("#receivedproforma").css("color", "#1CAF9A");
                $("#mains2").css("display", "block");
            }
        });
    </script>

    <script>
        function goBack() {
            window.history.back();
        }
        function getURL() {
            var url = window.location.href;
            if (url.indexOf("Selectuser") >= 0) {
                var finalURL = url.split("=");
                var userId = finalURL[1];

                if (userId == 6) {
                    var shallYesNo = confirm("Customer Does Not exist. Do you want to create a New Customer.");
                    if (confirm) {

                        window.location = "/Kippin/Finance/Invoice/CustomerRegister";
                    }
                    else {

                    }
                }

                else if (userId == 3) {
                    alert("Already Registered.");
                }
                else if (userId == 4) {
                    alert("You cannot add yourself as a supplier/customer.");
                }
                else if (userId == 5) {
                    alert("Please provide data.");
                }
                else if (userId == 2) {
                    alert("Unable to connect to server, Please try again later.");
                }

            }
            else {
                $('form').submit();
            }
        }
    </script>
}
@{
    if ((string)TempData["PdfResult"] != null)
    {

        <script>

            window.open("@TempData["PdfResult"].ToString()", '_blank');

        </script>
    }

}
<!--Internal Page Header Section Start-->
@Html.Partial("~/Views/Accounting/Partials/_InternalPageHeader.cshtml",
new KF.Web.Models.InternalPageHeaderViewModel
{
    HeaderTitle = "Invoice",
    HeaderSubtitle = "RECEIVED PROFORMA",
    HeaderParentPageName = "Invoice",
    HeaderChildPageName = "Received Proforma",
    HeaderFontAwsomeIcon = "fa-money"
})

<div id="page-wrapper">
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-block top-back-button " onclick="goBack()">Back</button>
                @Html.Partial("~/Views/Shared/_PageHeader.cshtml")
            </div>
        </div>

    
        <!--User's List-->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-box">

                    <!-- /.row -->
                    @{
                        if ((string)TempData["updatereceivedproformasuccesfuly"] == "Approve")
                        {
                            <div class=""><div id="Update-alert" class="alert alert-success col-sm-12"> <p>Proforma Accepted Successfully.</p></div></div>
                            <br />
                        }
                        if ((string)TempData["updatereceivedproformasuccesfuly"] == "Cancel")
                        {
                            <div class=""><div id="Update-alert" class="alert alert-success col-sm-12"> <p>Proforma Cancelled Successfully.</p></div></div>
                            <br />
                        }
                        if ((string)TempData["updatereceivedproformasuccesfuly"] == "Delete")
                        {
                            <div class=""><div id="Update-alert" class="alert alert-success col-sm-12"> <p>Proforma Deleted Successfully.</p></div></div>
                            <br />
                        }
                    }
                    <br />



                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="sub-heading"> Received Proforma Details</h5>
                        </div>

                        <div class="col-md-12">
                            <div class="tableScroll-container customer-list-table">
                                @{
                                    var selectedUser = KF.Web.Models.UserData.GetUserData(Convert.ToInt32(SelectedActiveUser));
                                    if (selectedUser == null)
                                    {
                                       // var selectedUser2 = KF.Web.Models.UserData.GetCurrentUserData();
                                        var selectedUser2 = KF.Web.Models.UserData.GetCurrentInvoiceUserData();
                                        userid = Convert.ToInt32(selectedUser2.Id);
                                    }
                                    else
                                    {
                                        var selectedUser1 = KF.Web.Models.UserData.GetCurrentUserData();
                                        userid = Convert.ToInt32(selectedUser1.Id);
                                        //using (var db = new KF.Entity.KFentities())
                                        //{
                                        //    userid = Convert.ToInt32(db.InvoiceUserRegistrations.Where(s => s.EmailTo == selectedUser.Email).Select(s => s.Id).FirstOrDefault());
                                        //}
                                    }
                                    //var selectedUser = KF.Web.Models.UserData.GetUserData(Convert.ToInt32(SelectedActiveUser));
                                    //if (selectedUser == null)
                                    //{
                                    //    var selectedUser2 = KF.Web.Models.UserData.GetCurrentInvoiceUserData();
                                    //    userid = Convert.ToInt32(selectedUser2.Id);
                                    //}
                                    //else
                                    //{
                                    //    using (var db = new KF.Entity.KFentities())
                                    //    {
                                    //        userid = Convert.ToInt32(db.InvoiceUserRegistrations.Where(s => s.EmailTo == selectedUser.Email).Select(s => s.Id).FirstOrDefault());
                                    //    }
                                    //}
                                    string EmailToo = string.Empty;
                                    <table id="ActiverReceivedPerformaListGrid" class="active-user-table" data-source="@Url.Action("ReceivedPerformaList", "Invoice", new { Id = userid })"></table>

                                }
                                <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

                                <script>

                                    setInterval(function () {

                                        $('#ActiverReceivedPerformaListGrid tr').each(function () {
                                            $(this).find("th").eq(7).hide();
                                            $(this).find("td").eq(7).hide();
                                        });
                                    }, 10);

                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/ThemeAssets/js/jquery-1.11.1.min.js"></script>