@model IEnumerable<KF.Web.Models.FolderViewModel>

<link href="~/ThemeAssets/css/popUpCloud.css" rel="stylesheet" />
<div class="col-lg-12">

    <div class="proceed-form">
        <div class="box-area">
            @{
                if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-sm-8">
                            <div class="folderArea">
                                <div class="picTitle">
                                    <h3 class="headingTitle">
                                        <a class="GetCloudMonths" data-userid="@item.UserId" data-year="@item.Year" href="javascript:void(0)">@item.Name</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    }

                }
                else
                {
                    <p> No Image available.</p>
                }

            }
        </div>
        <a class="btn btn-primary btnYearBack customStoteMargin" data-userid="@ViewBag.UserId" href="javascript:void(0)">Back</a>

    </div>

</div>
<div class="clearfix"></div>
