<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="KFentities" connectionString="metadata=res://*/Finance.csdl|res://*/Finance.ssdl|res://*/Finance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KINGKONG;initial catalog=kippindev;user id=sa;password=qwerty1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="KFentities" connectionString="metadata=res://*/Finance.csdl|res://*/Finance.ssdl|res://*/Finance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.25;initial catalog=kippin1;user id=kippin;password=KPS@7856#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="KFentities" connectionString="metadata=res://*/Finance.csdl|res://*/Finance.ssdl|res://*/Finance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=35.165.88.20;initial catalog=kippindev;user id=sa;password=FFkPP45rxt67##;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Email Credentials-->
    <add key="smtphost" value="smtpout.secureserver.net" />
    <add key="smtpUserName" value="Contact@kippinitsimple.com" />
    <add key="smtpPassword" value="Simplicity1sTh3K3y" />
    <add key="encryptionKey" value="bbC2H19lkVbQDfakxcrtNMQdd0FloLyw" />
    <add key="encryptionIV" value="gqLOHUioQ0QjhuvI" />
    <add key="AuthTokenExpiry" value="900" />
    <!--Yodlee Credentials-->
    <add key="cobrandLogin" value="kippin" />
    <add key="cobrandPassword" value="Kfdg@EpIN5!" />
    <add key="restUrl" value="https://usyirestmaster.yodleeinteractive.com/services/srest/kippin/v1.0/" />

    
    <add key="IsLocalhost" value="false" />
    <add key="encryptionKey" value="bbC2H19lkVbQDfakxcrtNMQdd0FloLyw" />
    <add key="encryptionIV" value="gqLOHUioQ0QjhuvI" />
    <add key="Bank1" value="https://www1.royalbank.com/cgi-bin/rbaccess/rbunxcgi?F6=1&amp;F7=IB&amp;F21=IB&amp;F22=IB&amp;REQUEST=ClientSignin&amp;LANGUAGE=ENGLISH" />
    <add key="Bank2" value="https://www1.scotiaonline.scotiabank.com/online/authentication/authentication.bns" />
    <add key="Bank3" value="https://www1.bmo.com/onlinebanking/cgi-bin/netbnx/NBmain?product=5" />
    <add key="Bank4" value="https://easyweb.td.com/waw/idp/login.htm?execution=e1s1" />
    <add key="Bank5" value="https://www.cibc.com/ca/personal.html" />
    
    <!--Stripe Testing Keys-->
    <add key="SecretKey" value="sk_test_FdJgGNSrEWH29AMMPUFSPvqk" />
    <add key="PublishableKey" value="pk_test_dtyuTCQKYKz936xigHluPgDo" />
    <add key="PlanId" value="KIPPIN_Finance_Test" />

    <add key="TaxPercent" value="13" />
    
    <!--Stripe Live Keys
    <add key="SecretKey" value="sk_live_U5dlwUgJZM2XLElsY5ezojAR" />
    <add key="PublishableKey" value="pk_live_zvGI7BwidZmCP3p29DWcNYMv" />
    <add key="PlanId" value="KIPPIN_Finance" />-->

    <!--Localhost-->
    <!--<add key="WebsiteBaseUrl" value="http://localhost:49334/" />-->
    <!--Live URL-->
    <!--<add key="WebsiteBaseUrl" value="http://35.165.88.20/Finance/" />-->
    <add key="WebsiteBaseUrl" value="http://52.27.249.143/Kippin/Finance/" />

  </appSettings>
  <system.web>
    <!--<customErrors mode="Off"/>-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!--<add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
    </handlers>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength is in Bytes not Kilobytes for IIS to accept the request. -->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>