
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccountantAgreement</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .entry-page-title {
            color: #fff;
            padding-bottom: 40px;
            padding-top: 40px;
            text-align: center;
        }
    </style>
    <script src="~/ThemeAssets/js/bootstrap.min.js"></script>
    <script src="~/CustomResources/js/Agreement.js"></script>
</head>
<body>
    <div class="hfeed site" id="page">
        <div style="background-image: url(../../Content/bootstrap-themes-bg.jpg);" class="header-outer">
            <header role="banner" class="site-header" id="masthead"></header>

            <div class="entry-page-title container">
                <h2 class="entry-title">ACCOUNTANT TERMS OF USE</h2>
            </div>
        </div>
        <div class="container">
            @{
                if (ViewBag.EmailStatus != null)
                {
                    <br />
                    <br />
                    <div id="Update-success" class="alert alert-success col-sm-12"> <p>Agreement sent successfully.</p></div>
                }
            }
            <div class="clearfix"></div>
            <div class="col-sm-4 pull-right" style="margin-top:10px;">
                <div class="col-sm-6"><a data-toggle="modal" data-target=".bs-example-modal-sm" class="btn btn-block btn-primary">Send Agreement</a></div>
                <div class="col-sm-6"><a onclick="printPage()" class="btn btn-block btn-primary">Print Agreement</a></div>

            </div>
            <div class="clearfix"></div>
            <div class="site-content row" id="content">
                <div class="content-area col-sm-12" id="primary">
                    <main role="main" class="site-main" id="main">
                        <article class="post-2034 page type-page status-publish hentry truncate-title portrait" id="post-2034">
                            <div class="entry-content">
                                <p>&nbsp;</p>
                                <p><strong>WHEREAS</strong> Kippin and the Agent wish to set out the terms, conditions and provisions upon which the Agent will be engage with the Agency;</p>

                                <p><strong>NOW THEREFORE THIS AGREEMENT WITNESSES</strong> that in consideration of the respective covenants and agreements of the parties contained herein, the sum of one dollar paid by each party to the other, and other good and valuable consideration, the sufficiency and receipt of which are hereby acknowledged, the parties hereto agree as follows:</p>

                                <p><strong>RELATIONSHIP OF PARTIES</strong>  The relationship between Kippin and the Agent will at all times be one of independent contract; nothing herein shall be construed as implying an contract, partnership or joint venture relationship; and the parties acknowledge and agree that nothing herein contained shall be construed as empowering either party to act as a representative or agent of the other and each party specifically agrees that it will not hold itself out as being so authorized nor undertake any such action.</p>
                                <p>Kippin hereby contracts with the Agent, and the Agent accepts such a contract, subject to the terms, conditions and provisions set out in this Independent Agent Agreement.</p>


                                <p><strong>Duties</strong>.  The Agent shall perform the duties and responsibilities normally associated with a the accountants, along with such other duties and responsibilities that may from time to time be assigned to the Agent by Kippin or by the Board, including but not limited to introduction of and subscription of clients and investors to the Kippin program and services.  </p>

                                <p><strong>1.1	Compensation.</strong>  The compensation of the Agent, for the services to be rendered by the Agent to Kippin, shall initially be subject to a commission of four dollar ($4.00) per month for each active user introduced to the Kippin (as long as the user has an active subscription), subject to any statutory withholdings, and shall be paid by Kippin to the Agent on a quarterly basis less all proper deductions. The Agent shall be entitled to such increases in commission as may be communicated to the Agent in writing by the Board or by Kippin. The Agent hereby acknowledges and confirms that he therefore has no entitlement to receive from Kippin any benefits or kickbacks, at all terms remain at the discretion of the Board of Kippin. Such obligations are the responsibility of the Agent, and the Agent agrees to indemnify Kippin under every and all circumstances. </p>

                                <h3>COVENANTS OF THE AGENT</h3>
                                <p><strong>Service</strong>.  During the term of this Agreement, the Agent shall: (a) devote his efforts to subscribe individuals to the services and the business of Kippin; (b) use his or her best efforts to promote the interests of Kippin; and (c) conduct himself or herself in a manner which is professional, businesslike, prudent, diligent and reasonable in the circumstances. [The Agent shall not accept contract or contract for services with any other individual, firm, corporation or agency at any time during the term of this Agreement, including any renewals thereof.]</p>

                                <p><strong>Rules and Regulations</strong>.  During the term of this Agreement, the Agent agrees to observe all of Kippin’ rules, regulations and guidelines for ethical behaviour (which may be updated or amended from time to time at the discretion of Kippin). [As a condition of entering into this Contract Agreement, the Agent agrees to sign Kippin’ current Code of Ethics.]</p>

                                <h3>CONFIDENTIALITY AND NON-INTERFERENCE</h3>
                                <p>Definition of Confidential Information.  The Agent acknowledges and agrees that during the term of his or her contract, he or she will have access to and become familiar with various trade secrets of Kippin and its clients, and other proprietary and confidential information of Kippin and its clients, including without limitation all customer information, customer lists, personnel information, marketing plans, project data, pricing data, costing data, sales information, plans, strategic information, business opportunities, financial information, systems, patents, trade-marks, intellectual property, inventions, discoveries, research, development and other proprietary and confidential information used by Kippin in the operation of its business (collectively, “Confidential Information”).</p>

                                <p><strong>Non-Disclosure</strong></p>
                                <p>The Agent acknowledges and agrees that:</p>
                                <ul>
                                    <li>all Confidential Information is and will remain the sole and exclusive property of Kippin;</li>
                                    <li>the Agent will keep all Confidential Information strictly confidential during the term of this Contract and for ten (10) years after its termination for any reason whatsoever;</li>
                                    <li>the Agent will not (without the prior written consent of Kippin) directly or indirectly, either during the term of this Agreement and for ten (10) years after its termination for any reason whatsoever, use for the Agent’s own benefit or for the benefit of any other Person, any Confidential Information; and</li>
                                    <li>the Agent will not remove any books, records or documents or copies thereof (whether or not confidential) from the premises of Kippin, nor make any copies of any such books, records or documents for use outside the premises of Kippin, except as specifically authorized by Kippin.</li>
                                </ul>
                                <p><strong>Non-Interference.</strong>  The Agent agrees that he or she will not (without the prior written consent of Kippin) at any time during his or her contract and for a period of [insert period of non-interference, e.g., twenty-four (24) months following the termination of that contract for any reason whatsoever (including without limitation termination with or without cause by Kippin), directly or indirectly, individually or in partnership or conjunction with any Person, in any manner or capacity whatsoever:</p>
                                <p>solicit or attempt to solicit the services of, or entice away, any person employed by or otherwise providing services to Kippin on a full-time, part-time or contractual basis;</p>

                                <ul>
                                    <li>solicit, contact or communicate with any Customer for the purposes of [gaining the business of such Customer/providing to such Customer any goods or services similar to those provided or offered by Kippin as at the date of the termination of the Agent’s contract];</li>
                                    <li>[carry on, be engaged in, be concerned with or interested in, lend money to, be employed by, provide guarantees to, or otherwise have any interest in, any business which provides or attempts to provide, [to any Customer] any goods or services similar to those offered by Kippin as at the date of the termination of the Agent’s contract;]</li>
                                    <li>interfere in any way with any business relationship between Kippin and any Customer, Agent, contractor, supplier or other Person with whom Kippin has a business relationship.</li>

                                </ul>

                                <p><strong>Definition of Customer</strong>.  For the purposes of this Agreement, the term “Customer” shall mean:</p>
                                <ul>
                                    <li>any Person who was a customer or client of Kippin at the time of the termination of the Agent’s contract;</li>
                                    <li>any Person who was a customer or client of Kippin at any time during the twelve (12) month period prior to the termination of the Agent’s contract; and</li>
                                    <li>any Person who was pursued by Kippin as a potential or prospective customer or client by way of any written submission made by Kippin during the twelve (12) month period prior to the termination of the Agent’s contract.</li>

                                </ul>
                                <h3>TERMINATION OF CONTRACT</h3>
                                <p>Termination by Kippin for Cause.  The contract of the Agent may be terminated by Kippin at any time, immediately and without notice, for cause. For the purposes of this Agreement, “cause” shall mean:</p>
                                <ul>
                                    <li>an act or acts of dishonesty on the part of the Agent resulting or intending to result directly or indirectly in gain or personal enrichment to which the Agent was not legally entitled, at the expense of Kippin; or</li>
                                    <li>a material breach of the Agent’s duties or responsibilities hereunder resulting in material injury to Kippin, provided however, that such breach shall not include any act or omission believed by the Agent in good faith to have been in or not opposed to the best interests of Kippin.</li>
                                </ul>
                                <p><strong>Termination by Kippin without Cause.</strong>  The contract of the Agent may be terminated by Kippin at any time, without cause, upon providing to the Agent the Agent’s accrued and unpaid pay. The Agent agrees that payment as set out in this section shall constitute full and final settlement of all amounts owed to the Agent, or claimed to be owed, which in any way relate to the contract of the Agent by Kippin and/or the termination of such contract, and further, shall include without limitation, all amounts in respect of vacation pay, termination pay, severance pay, notice of termination, entitlement under the Contract Standards Act 2000 (Ontario), S.O. 2000, c. 41 or other applicable labour or contract legislation. Upon the provision to the Agent of notice of termination, or upon making payment in lieu of notice, in accordance with this section, the Agent agrees to and does release and finally discharge Kippin and its directors, officers, agents and Agents, against and from any and all claims, liabilities, charges or debts which the Agent has, had, or may have, in connection with or arising from the contract of the Agent by Kippin or the termination of such contract.</p>
                                <p><strong>Termination by Kippin for Disability. </strong> The contract of the Agent may be terminated by Kippin in the event that the Agent is unable to provide his or her services to Kippin by reason of disability. For the purposes of this Agreement, disability shall mean incapacity due to physical or mental illness which results in the Agent being absent from the performance of his or her duties with Kippin for six consecutive months or for nine months accumulated in any twelve month period.]</p>
                                <p>Termination by Agent.  The Agent may terminate his or her contract at any time, for any reason, upon providing to Kippin thirty (30) days written notice.</p>

                                <p><strong>Recourse on Breach.</strong> The Agent acknowledges that damages may not be a sufficient remedy for an Agent breach or threatened breach of this Contract Agreement. The Agent agrees that Kippin may apply for and obtain any interim relief, including injunctive relief, which relief is in addition to such rights as Kippin may have to damages arising from any Agent breach, or threatened breach, of this Contract Agreement.</p>

                                <p>Dispute Resolution.  Any dispute regarding the interpretation, compliance with or breach of this Contract Agency Agreement will be resolved as follows:</p>
                                <ul>
                                    <li>the parties agree to negotiate in good faith commencing upon written notice from one party to the other containing a summary of the dispute (the “dispute notice”), and all such negotiations shall be confidential and inadmissible in any subsequent proceeding without the written consent of the Agency and the Client;</li>
                                    <li>if the dispute is not resolved by negotiation as set out above within twenty (20) days following the receipt of the dispute notice, the parties will refer the dispute to a mediator acceptable to both parties for non-binding mediation, and the costs of such mediation shall be shared equally by the parties;</li>
                                    <li>if the dispute is not settled by mediation as set out above within forty (40) days of receipt of the dispute notice, or if a mutually acceptable mediator is not selected within thirty (30) days of receipt of the dispute notice, the dispute shall be settled by binding arbitration as follows: Within sixty (60) days of receipt of the dispute notice, each party shall designate one arbitrator. Within seventy (70) days of receipt of the dispute notice, the two arbitrators so designated shall appoint a third arbitrator mutually acceptable to them, who shall alone hear and determine the dispute. If the two designated arbitrators are unable to agree upon a third arbitrator within seventy (70) days of receipt of the dispute notice, the third arbitrator shall be appointed by a Judge of the Ontario Court (General Division) as soon as practicable. The arbitration shall be conducted in the English language and in accordance with the provisions of the Arbitration Act (Ontario), with all hearings to take place in the Province of Ontario, unless otherwise agreed by both parties.  Any judgment, decision or award rendered by such arbitrator shall be final and binding on the parties and shall not be the subject of any further court proceeding except in connection with the enforcement of such award by a court of competent jurisdiction. The costs of arbitration, including legal fees and disbursements of the parties, shall be allocated by the arbitrator in the manner that the arbitrator, in his or her discretion, considers appropriate. This section does not affect the rights of the parties to seek injunctive relief when appropriate to enforce their respective rights hereunder.</li>
                                </ul>
                                <h3>GENERAL PROVISIONS</h3>
                                <p><strong>Indemnity.</strong>  Kippin shall indemnify and save the Agent harmless from any and all claims made against the Agent and arising out of the performance by the Agent of his or her obligations under this Contract Agreement, except to the extent that such claims arise in connection with or result from the bad faith, willful misconduct or gross negligence of the Agent.</p>

                                <p><strong>Survival</strong>.  The parties agree that this Contract Agreement, including without limitation the representations, warranties and covenants contained herein, shall survive and continue in full force and effect and be binding upon the Agent in accordance with its terms, notwithstanding the termination of the contract of the Agent for any reason whatsoever.</p>
                                <p><strong>Assignment</strong>.  This Contract Agreement is personal to the Agent and may not be assigned by the Agent and any attempt by the Agent to assign any of its rights, duties or obligations hereunder shall be void and of no effect.</p>
                                <p><strong>Notice</strong>.  Any notice or other communication required or permitted to be given pursuant to this Contract Agreement shall be in writing, shall be addressed to the relevant party at the address set out herein for such party, and shall be given by prepaid first-class mail or by hand-delivery as hereinafter provided. Any such notice or other communication, if mailed by prepaid first-class mail at any time other than during a general discontinuance of postal service due to strike, lockout or otherwise, shall be deemed to have been received on the fourth Business Day after the post-marked date thereof, or if delivered by hand shall be deemed to have been received at the time it is delivered to the applicable address set out herein for such party to an individual at such address having apparent authority to accept deliveries on behalf of the addressee. Notice of change of address shall also be governed by this section. In the event of a general discontinuance of postal service due to strike, lock-out or otherwise, notices or other communications shall be delivered by hand and shall be deemed to have been received in accordance with this section.</p>

                                <p><strong>Personal Information</strong>.  This Contract Agreement, and the contract of the Agent by Kippin, require the Agent to provide certain personal information to Kippin. Such information is collected by Kippin for the purposes of complying with statutory and other legislation relating to the contract of Agents generally, and to comply with the obligations of Kippin hereunder. The purposes for which the personal information of Agents of Kippin is collected, and the policies of Kippin relating to the collection, storage, use and disclosure of such personal information, are described in more detail in Kippin’ Privacy Policy, which will be made available to the Agent at any time and from time to time upon the request of the Agent. The Agent hereby consents to the collection, use and disclosure of the Agent’s personal information as set out in this Contract Agreement and in Kippin’ Privacy Policy.</p>

                                <p><strong>Further Assurances</strong>.  Each of the parties hereto hereby agrees that it will promptly do, make, execute or deliver, or cause to be done, made, executed or delivered, all such further acts, documents and things as the other may reasonably require from time to time for the purpose of giving effect to the provisions of this Contract Agreement and each party further agrees that it will take all reasonable efforts that may be reasonably necessary or desirable to implement to their full extent the provisions of this Contract Agreement.</p>
                                <p><strong>Enurement</strong>.  This Agreement shall enure to the benefit of, and be binding upon, the parties hereto and their respective heirs, administrators, estate trustees, successors, affiliates and permitted assigns.</p>


                                <p><strong>Invalidity of Provisions</strong>.  Each of the provisions contained in this Contract Agreement is distinct and severable and a declaration of invalidity or unenforceability of any such provision by a court of competent jurisdiction shall not affect the validity or enforceability of any other provision of this Contract Agreement.</p>

                                <p><strong>Modification and Waiver</strong>.  This Contract Agreement may not be modified unless agreed to in writing by both the Agent and Kippin. No extension of any time limit granted by a party shall constitute an extension of any other time limit or any subsequent instance involving the same time limit. No consent by a party to, nor waiver of, a breach by the other party, whether express or implied, shall constitute a consent to or waiver of or excuse for any other different or subsequent breach, unless such waiver or consent is in writing and signed by the party claimed to have waived or consented. Except as otherwise provided herein, no term or provision hereof shall be deemed waived and no breach excused.</p>

                                <p><strong>Counterparts</strong>.  This Contract Agreement may be signed in counterparts and each of such counterparts shall constitute an original document and such counterparts, when taken together, shall constitute one and the same instrument.</p>

                                <p><strong>Entire Agreement</strong>.  This Agreement contains the entire agreement of the parties hereto relating to the contract of the Agent by Kippin, and any and all previous agreements, written or oral, express or implied, between Kippin and the Agent relating to the contract of the Agent by Kippin are hereby terminated and cancelled. There are no representations, covenants or other agreements, written or oral, express or implied, relating to the contract of the Agent by Kippin, except as set out in this Contract Agreement, and any schedule attached hereto.</p>

                                <p><strong>Governing Law</strong>.  This Contract Agreement shall be governed by and construed in accordance with the laws of the Province of Ontario and the laws of Canada applicable therein.</p>
                                <p><strong>Independent Legal Advice</strong>.  The Agent hereby acknowledges and agrees that:</p>

                                <ul>
                                    <li>the Agent has carefully read and has understood the terms, conditions and provisions of this Contract Agreement;</li>
                                    <li>the Agent has had the opportunity, and it has been suggested by Kippin, to obtain independent legal advice in connection with the entering into of this Contract Agreement; and</li>
                                    <li>the Agent has either obtained independent legal advice in connection with the entering into of this Contract Agreement or has chosen to obtain such independent legal advice, having been provided the opportunity and the suggestion by Kippin to do so.</li>
                                </ul>
                                <p>&nbsp;</p>
                            </div>
                        </article>
                    </main>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Send Agreement</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Your Email:</label>
                            <input type="text" class="form-control" id="recipient-name">
                            <p id="error-msg" style="color:red"></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" onclick="sendMail()" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>