
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>::KIPPIN::</title>

    <!-- Bootstrap -->
    <link href="~/ThemeAssets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .logo-Area {
            margin-top: 50px;
            float: left;
            width: 100%;
        }

        .thankyouBlock {
            margin: 50px auto 10px auto;
            float: left;
            width: 100%;
            text-align: center;
            border: 1px solid #0676c5;
            background: #fafafa;
        }

            .thankyouBlock h2 {
                color: #0676C5;
                margin: 10px 0;
                text-transform: uppercase;
            }

            .thankyouBlock p {
                font-size: 16px;
            }
    </style>
</head>
<body>

    <div class="thankyou-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-4 col-sm-offset-5 col-xs-offset-4">
                    <div class="logo-Area">
                        <img class="img-responsive" src="~/ThemeAssets/Images/kippin_logo.png" alt="kippin-logo" />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="jumbotron thankyouBlock">
                        <h2 class="thankyou">Confirmation Sent</h2>
                        <p>Please note: You have 24hrs to activate your account other wise it will be automatically discarded.</p>
                        <p>Please check your mail for confirmation. <a href="@Url.Action("Login", "Account")">Click here </a>to login.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
