@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice Password Updated</title>
    <link href="~/ThemeAssets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:30px">
            <div class="col-md-10 col-md-offset-1">
                <div id="login-alert" class="alert alert-success col-sm-12">Password Updated Successfully. <p><a href="@Url.Action("InvoiceLogin","Account")">Click Here</a> to login again.</p></div>
            </div>
        </div>

    </div>

</body>
</html>