@model KF.Web.Models.ChangePasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>::Invoice Login::</title>

    <link href="~/ThemeAssets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/ThemeAssets/js/jquery-1.11.1.min.js"></script>
    <style>
        .form-required-field {
            color: red !important;
        }

        .signup-container input, .signup-container select {
            max-width: 98%;
        }

        .mandatoryField {
            display: block;
            margin: 10px 0 5px 0;
        }

        .field-validation-error {
            color: red !important;
        }

        .logo-div img {
            margin: 2% auto 0;
            max-width: 220px;
        }
    </style>
    <script>
        function validateEmailCc() {
            var reg = /^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
            if (reg.test($("#Email").val()) == false) {
                alert('Please enter valid email id');
                $("#Email").val('');
                $("#btnsubmit").attr("disabled", true);
                return false;
            }
            else {
                $("#btnsubmit").attr("disabled", false);
                return true;
            }
        }
    </script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="logo-div col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <img src="~/ThemeAssets/Images/kippin_logo.png" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            @{

                if ((string)TempData["invoiceforgotpassword"] == "Success")
                {
                    <script>
                        alert("Username and Password sent to your email.");
                        window.location.href = "/Finance/Account/InvoiceLogin";
                    </script>


                }
                if ((string)TempData["invoiceforgotpassword"] == "EmailNotExist")
                {
                    <script>
                        alert('Email doesnot exist.');
                    </script>

                }
            }
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title text-center">Invoice Forgot Password</div>
                    </div>

                    <div style="padding-top:30px" class="panel-body">

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <form id="loginform" action="@Url.Action("InvoiceForgotPassword", "Account")" class="form-horizontal" role="form" method="post">

                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="exampleInputName2">Email</label>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        @Html.TextBoxFor(i => i.Email, new { @class = "form-control", placeholder = "Enter Email", onchange = "validateEmailCc();" })
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>



                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="submit" value="Submit" id="btnsubmit" class="btn btn-success" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>








                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
